In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('spam.tsv', sep ='\t')

In [3]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [4]:
df.isnull()

      label  message  length  punct
0     False    False   False  False
1     False    False   False  False
2     False    False   False  False
3     False    False   False  False
4     False    False   False  False
...     ...      ...     ...    ...
5567  False    False   False  False
5568  False    False   False  False
5569  False    False   False  False
5570  False    False   False  False
5571  False    False   False  False

[5572 rows x 4 columns]

In [5]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
len(df)

5572

In [7]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

### Balance Data

In [9]:
ham = df[df['label']=='ham']

In [10]:
ham.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2
6   ham  Even my brother is not like to speak with me. ...      77      2

In [11]:
spam = df[df['label']=='spam']

In [16]:
spam.head()

   label                                            message  length  punct
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
5   spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
8   spam  WINNER!! As a valued network customer you have...     157      6
9   spam  Had your mobile 11 months or more? U R entitle...     154      2
11  spam  SIX chances to win CASH! From 100 to 20,000 po...     136      8